.latestAlbumButtonDiv {
    text-align: center;
    margin: 20px 20px;
}

.latestAlbumButton {
    font-size: large;
    padding: 10px 16px 10px 16px;
    border: 1px solid lightblue;
    background-color: gray;
    color: white;
    cursor: pointer;
}