header {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.cart {
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px 8px 5px 8px;
    cursor: pointer;
    background-color: black;
}

.cart:active {
    background-color: white;
    color: black;
}

.cartQuantity {
    margin-left: 6px;
    font-size: medium;
    border: 1px solid white;
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 1px 4px 1px 4px;
}

.cartQuantity:active {
    background-color: black;
    color: white;
}